/* Overrides */
* {
    border-radius: 0 !important;
    font-family: 'Poppins', sans-serif !important;
}

/* body {
    background-image: url('../NCFLBldgBlacked.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.navbar {
    background-color: #139f4a !important;
}


input, span, a, button, p, div, label, select, textarea {
    font-size: 12px !important; 
}

td[contenteditable="true"] {
    color: black;
    font-weight: 600 !important;
    border: 1px solid #198754 !important;
    border-top: none !important;
}

td[contenteditable="true"]:focus {
    outline: none ;
    background-color: #d1e7dd;
    /* border: 1px solid blue !important; */
 }

input, select, a.btn, textarea {
    outline: none !important;
    box-shadow: none !important;
}

button {
    box-shadow: none !important;
}

table {
    box-shadow: none !important;
    border: none !important;
    font-size: 11px;
}

table thead th {
    border-top: 1px solid #dee2e6 !important;
    background-color: white !important;
    overflow: hidden;
}

table tfoot th {
    border-top: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}

table tbody td a {
    font-size: 12px !important;
}

table thead th,
table tbody td,
table tfoot th {
  font-weight: 400 !important;
  border-right: none !important;
  border-color: #dee2e6 !important;
  vertical-align: middle;
  white-space: nowrap;
}

table tbody tr td {
    border-top: 1px solid #dee2e6 !important;
}

table tbody tr:first-child td {
    border-top: none !important;
}

table tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6 !important;
}

table thead th:last-child,
table tbody td:last-child,
table tfoot th:last-child {
  border-right: 1px solid #dee2e6 !important;
}

tfoot th {
    padding: 8px !important;
}

.table-responsive::-webkit-scrollbar {
    width: 4.5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}

.list-group-item {
    padding: 16px !important;
}

.form-text {
    font-size: 12px !important;
}

.feather-info {
    padding-right: 5px;
    width: 24px;
    height: 24px;
}

.dataTables_filter input {
    border-color: #ced4da !important;
}

.modal-title {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.invalid-feedback {
    font-size: 11px !important;
}

.feather {
    width: 20px;
    height: 20px;
}

.notes-cell {
    max-width: 100px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#excess_table thead th:nth-child(8),
#excess_table thead th:nth-child(12) {
    border: 1px solid #198754 !important;
}

#excess_table tbody td:nth-child(7),
#excess_table tbody td:nth-child(11) {
    border-right: none !important;
}

#excess_table tbody td:nth-child(9),
#excess_table tbody td:nth-child(13) {
    border-left: none !important;
}

#excess_table tbody tr:last-child td:nth-child(8),
#excess_table tbody tr:last-child td:nth-child(12) {
    border-bottom: 1px solid #198754 !important;
}